<div>
  <div *ngIf="showFilters">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Fritekst</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Fritekst">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Kundestatus</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2" *ngFor="let cs of customerStatuses">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="cs.id">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">{{cs.name}}</label>
        </div>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Services</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2" *ngFor="let s of services">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="s.id">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">{{s.name}}</label>
        </div>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Kategori</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2" *ngFor="let c of categories">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="c.id">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">{{c.name}}</label>
        </div>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Status</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">Aktiv</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label fixed-label" for="inlineCheckbox2">Lukket</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Fokus</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2" *ngFor="let f of focuses">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="f.id">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">{{f.name}}</label>
        </div>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Tilbyder</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2" *ngFor="let o of offers">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="o.id">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">{{o.name}}</label>
        </div>

      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Region</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2" *ngFor="let r of regions">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" [value]="r.id">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">{{r.name}}</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">Adresse</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label fixed-label" for="inlineCheckbox2">Facebook</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label fixed-label" for="inlineCheckbox3">Web</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Primær kontakt</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">Navn</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label fixed-label" for="inlineCheckbox2">Mail</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label fixed-label" for="inlineCheckbox3">Mobil</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Sekundær kontaktperson</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline mt-2">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label fixed-label" for="inlineCheckbox1">Navn</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label fixed-label" for="inlineCheckbox2">Mail</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
          <label class="form-check-label fixed-label" for="inlineCheckbox3">Mobil</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" (click)="seachButton()" *ngIf="showFilters">Søg</button>
      <button type="submit" class="btn btn-primary" *ngIf="!showFilters" (click)="showFilters=true">Vis
        søgefelter</button>
    </div>
  </div>

</div>
<div *ngIf="!showFilters">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;"></pagination>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Navn</th>
        <th scope="col">Kundestatus</th>
        <th scope="col">Services</th>
        <th scope="col">Telefon</th>
        <th scope="col">Kontakt</th>
        <th scope="col">Kategori</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeers">
        <td>{{emp.name}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;"></pagination>
</div>